.faq-box{
	border-top: 1px solid #ddd;
}

.accordion {
	border-bottom: 1px solid #ddd;
}

.slider-box {
	min-height: 120px;
	margin: 1px;
	box-shadow: 0px 5px 10px 5px #ddd;
	border-radius: 5px;
}

@import "modules/variables";
@import "modules/mixins";
@import "modules/reset";
@import "modules/header";
@import "modules/responsive";
@import "modules/banner";
@import "modules/section-intro";
@import "modules/home";
// @import "modules/gallery";
@import "modules/contact";
@import "modules/blog";
@import "modules/btn";
@import "modules/footer";


