/* global style start
  ============================================================================================ */

body {
    color: $text-color;
    font-family: $text-font;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.66;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;

    &:focus {
        outline: 0 !important;
        box-shadow: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    color: $title-color;
    line-height: 1.25;
    font-weight: 700;
}

h1,
.h1 {
    font-size: 48px;
}

h2,
.h2 {
    font-size: 26px;

    @media(min-width: 768px) {
        font-size: 36px;
    }
}

h3,
.h3 {
    font-size: 20px;
}

.primary-text {
    color: $primary-color;
}

.bg-gray {
    background-color: #f9f9f9;
}

.pb-90px {
    padding-bottom: 60px;

    @media(min-width: 992px) {
        padding-bottom: 90px;
    }
}


.section-margin {
    margin: 35px 0;

    @media(min-width: 992px) {
        margin: 65px 0;
    }

    @media(min-width: 1200px) {
        margin: 75px 0;
    }
}

.section-margin-large {
    margin: 35px 0;

    @media(min-width: 992px) {
        margin: 70px 0;
    }

    @media(min-width: 1200px) {
        margin: 75px 0;
    }
}

.section-padding {
    padding: 35px 0;

    @media(min-width: 992px) {
        padding: 65px 0;
    }

    @media(min-width: 1200px) {
        padding: 75px 0;
    }
}

.generic-margin {

    margin-top: 36px;

    @media(min-width: 992px) {
        margin-top: 100px;
    }

    @media(min-width: 1200px) {
        margin-top: 125px;
    }
}

.text-highlight {
    color: $primary-color;
}

a.wp-link {
    color: $text-color;
    font-weight: 425;
    text-decoration: underline;
}

a.wp-link-normal {
    color: $text-color;
    font-size: 12px;
    text-decoration: underline;
}

.intro-text {
    font-size: 24px;
    color: #1d3f5a;
    font-weight: 500;
}

/* global style end
  ============================================================================================ */