/* font family
	============================================================================================ */
$title-font: 'Roboto', sans-serif;
$text-font: 'Roboto', sans-serif;                    


/* color variables
	============================================================================================ */
$title-color: #1d3f5a;
$text-color: #1d3f5a;
$primary-color: #3ebcb3;
$primary-color2: #0b9a90;


$black: #242429;
$link-color: #1d3f5a;
$white: #fff;


/* google fonts
	============================================================================================ */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');





